[Unit]
Description=webserver for haemolacriaa.com powered by leptos

[Service]
Type=simple
EnvironmentFile=/app/VARFILE
ExecStart=/app/haemolacriaa
WorkingDirectory=/app
Restart=always

[Install]
WantedBy=multi-user.target
