[Unit]
Description=webserver for haemolacriaa.com powered by leptos

[Service]
Type=simple
Environment="LEPTOS_OUTPUT_NAME=haemolacriaa" LEPTOS_SITE_ROOT=site "LEPTOS_SITE_PKG_DIR=pkg" LEPTOS_SITE_ADDR=127.0.0.1:3000 "LEPTOS_RELOAD_PORT=3001"
ExecStart=/app/haemolacriaa
WorkingDirectory=/app
Restart=always

[Install]
WantedBy=multi-user.target
